
    {% extends 'base.html' %}
    {% load socialaccount %}
    
    {% block content %}

    {% get_social_accounts user as accounts %}

    <!-- {{ accounts }}  gives the all google accounts for the authenticated user -->
    {% if accounts.google %}
        {% for account in accounts.google %}
            <img src="{{ account.extra_data.picture }}" alt="Google profile" width="100" srcset="">
        {% endfor %}
    {% endif %}

    <h1>Welcome agent, {{ user.get_full_name }}</h1>
    <h2>Top Secret Here</h2>

    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    
    {% endblock %}
  

